:root {
    --background-one: #121212;
    --background-two: #1E1E1E;
    --text-one: #ffffff;
    --overflow-one: #696969FF;
    --error-text: #ca0000
}
/*use no one page*/
.error{
    color: var(--error-text);
}
body{
    background-color: var(--background-one);
    color: var(--text-one);
    font-family: Arial;
    font-size: 20px;
}
nav{
    padding: 15px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
nav a{
    padding: 5px 10px;
    background-color: var(--overflow-one);
    border-radius: 7px;
    transition: all .8s;
}
nav a:hover{
    background-color: var(--text-one);
    color: var(--overflow-one);
}
input, textarea, button{
    color: var(--text-one);
    background-color: var(--overflow-one);
    padding: 5px;
    border-radius: 7px;
    border-style: none;
    font-size: 30px;
    transition: all .8s;
}

a{
    color:var(--text-one) ;
    text-decoration: none;
}

.post{
    display: flex;
    background-color: var(--background-two);
    flex-direction: column;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px var(--overflow-one);
}
.blockImage{
    text-align: center;
}
.blockImage img{
    width: 80%;
}

.centerBlock{
     display: flex;
    padding: 0 10%;
    flex-direction: column;
     justify-content: center;
 }
/*form*/
form div{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
form button{
    margin-top: 2%;
    width: 100%;
}
form button:hover{
    background-color: var(--text-one);
    color: var(--overflow-one);
}
/*posts*/
.posts{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-content: center;
}
.postsTextRestrictions{
    width: 100%;
    height: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.postInList{
    display: flex;
    background-color: var(--background-two);
    flex-direction: column;
    padding: 12px;
    border-radius: 15px;
    transition: all .3s;
}
.postInList:hover{
    box-shadow: 0px 0px 5px var(--overflow-one);
}
.postPage{
    box-shadow: none;
    background: none;
}
.authorPost{
        text-align: end
}
.postsImg{
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}
.linkEditor{
    color: var(--overflow-one);
    text-align: end;
    margin: 5px 0;
    transition: all .8s;
}
.linkEditor:hover{
    color: var(--text-one);
}

/*media*/
@media (min-width: 1750px) {
    .posts{
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }
}
@media (max-width: 600px) {
    h1{
        font-size: 25px;
    }
}
